
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<ClothingShop.Models.Product>
@{ var vndMoney = System.Globalization.CultureInfo.GetCultureInfo("vi-VN"); }
@{ var user = Session["Account"] as ClothingShop.Models.Customer;}



<div class="container category">
    <div class="row">
        <div class="col-lg-2">
            <h3>Danh mục</h3>

            @{Html.RenderAction("PartialCate", "CategoryPartial");}

        </div>
        <div class="col-lg-10 product-list-cate">
            <h3>Tất cả sản phẩm</h3>


            @foreach (var item in Model)
            {
                <!-- product -->
                <div class="product-item-category">
                    <div class="card" style="width: 18rem;">
                        <a href="@Url.Action("Index/"+item.ProductID,"ProductDetail")" class="card-title"> <img class="card-img-top" src="~/Images/@item.ImagePro" alt="Card image cap"> </a>
                        <div class="card-body">
                            <a href="@Url.Action("Index/"+item.ProductID,"ProductDetail")" class="card-title"><h5>@item.ProductName</h5></a>
                            <h6 style="color:darkred">@String.Format(vndMoney, "{0:c0}", item.price)</h6>


                            <p class="card-text rating-item">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </p>
                            @if (user != null)
                            {
                                <a href="@Url.Action("AddSingleToCart/" + item.ProductID, "Cart")" class="btn quick-add-to-cart"><i class="bi bi-cart-plus"></i> Thêm vào giỏ hàng</a>

                            }
                            else
                            {
                                <a href="@Url.Action("Login", "Users")" class="btn quick-add-to-cart"><i class="bi bi-cart-plus"></i> Thêm vào giỏ hàng</a>
                            }
                        </div>
                    </div>
                </div>
                <!-- end-product -->

            }


        </div>


    </div>
</div>
